# application specific
.config.*
.vscode/launch.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.vscode/settings.json
demo/examples/DocResearch/internDocuments/Implementation Report 2020.pdf
demo/examples/DocResearch/internDocuments/handbook on implementation of the services directive-gp_eudor_WEB_KM7807096ENC_002.pdf
demo/examples/DocResearch/internDocuments/SWD 2012-148 implementation SD.pdf
demo/examples/DocResearch/internDocuments/user guide PQD EN.pdf
demo/examples/DocResearch/internDocuments/non-sensitive/handbook on implementation of the services directive-gp_eudor_WEB_KM7807096ENC_002.pdf
demo/examples/DocResearch/internDocuments/non-sensitive/Implementation Report 2020.pdf
demo/examples/DocResearch/internDocuments/non-sensitive/SWD 2012-148 implementation SD.pdf
demo/examples/DocResearch/internDocuments/non-sensitive/user guide PQD EN.pdf
demo/examples/DocResearch/internDocuments/sensitive/(CHAP 0056).msg
demo/examples/DocResearch/internDocuments/sensitive/013 - NU'91 Nieuwe Unie 91, the national nurses association of the Netherlands.doc
demo/examples/DocResearch/internDocuments/sensitive/13.01.2020 - Minutes - Progress Call -.docx
demo/examples/DocResearch/internDocuments/sensitive/31-3-2011 - Danish Nurses - EN Translation.DOC
demo/examples/DocResearch/internDocuments/sensitive/086 - EfCCNa - European federation of Critical Care Nursing associations.pdf
demo/examples/DocResearch/internDocuments/sensitive/152. Register of NURSING (General and Mental Health)   t      s  e t     (MH).doc
demo/examples/DocResearch/internDocuments/sensitive/217-2008-Liste de base-May 08-DOCTORS-DENTISTS-NURSES-VETs-MIDWIVES-Comité Santé Publique.xls
demo/examples/DocResearch/internDocuments/sensitive/2019.12.11 Workshop on nurses- what to improve next time.docx
demo/examples/DocResearch/internDocuments/sensitive/2022.07.19 draft pre-closure letter.docx
demo/examples/DocResearch/internDocuments/sensitive/100713 LTT PCQ nurses in the UK.doc
demo/examples/DocResearch/internDocuments/sensitive/answer.doc
demo/examples/DocResearch/internDocuments/sensitive/110921(1)_Draft_reply_EN_V1_(morakam)_V1 (002)+GROW.E1.docx
demo/examples/DocResearch/internDocuments/sensitive/Application of Article 10 for nurses in the UK and Spain.doc
demo/examples/DocResearch/internDocuments/sensitive/Case Study European Professional Mobility Card for Nurses Version 27 09 2011 - For publication.doc
demo/examples/DocResearch/internDocuments/sensitive/CHAP 2014 03215 - complement.msg
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2009)00056-UK-Complaint_Redacted.pdf
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2011)00954.msg
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2011)00980.msg
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2011)02727-2.msg
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2011)02727.msg
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2014)01873.docx
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2014)03215.msg
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2015)00863.msg
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2015)01080-2.doc
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2015)00930.msg
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2015)00863.pdf
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2015)01080-3.msg
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2015)01080-4.msg
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2015)01080.docx
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2015)01146 - EN summary.docx
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2015)01244.msg
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2015)01249.msg
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2015)01249.pdf
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2015)01347.msg
demo/examples/DocResearch/internDocuments/sensitive/CHAP(2015)01347.pdf
demo/examples/DocResearch/internDocuments/CHAP 2014 03215 - complement.msg
demo/examples/DocResearch/internDocuments/CHAP(2009)00056-UK-Complaint_Redacted.pdf
demo/examples/DocResearch/internDocuments/CHAP(2011)00954.msg
demo/examples/DocResearch/internDocuments/CHAP(2011)00980.msg
demo/examples/DocResearch/internDocuments/CHAP(2011)02727-2.msg
demo/examples/DocResearch/internDocuments/CHAP(2011)02727.msg
demo/examples/DocResearch/internDocuments/CHAP(2014)01873.docx
demo/examples/DocResearch/internDocuments/CHAP(2014)03215.msg
demo/examples/DocResearch/internDocuments/CHAP(2015)00863.msg
demo/examples/DocResearch/internDocuments/CHAP(2015)00863.pdf
demo/examples/DocResearch/internDocuments/CHAP(2015)00930.msg
demo/examples/DocResearch/internDocuments/CHAP(2015)01080-2.doc
demo/examples/DocResearch/internDocuments/CHAP(2015)01080-3.msg
demo/examples/DocResearch/internDocuments/CHAP(2015)01080-4.msg
demo/examples/DocResearch/internDocuments/CHAP(2015)01080.docx
demo/examples/DocResearch/internDocuments/CHAP(2015)01146 - EN summary.docx
demo/examples/DocResearch/internDocuments/CHAP(2015)01244.msg
demo/examples/DocResearch/internDocuments/CHAP(2015)01249.msg
demo/examples/DocResearch/internDocuments/CHAP(2015)01249.pdf
demo/examples/DocResearch/internDocuments/CHAP(2015)01347.msg
demo/examples/DocResearch/internDocuments/CHAP(2015)01347.pdf
demo/examples/DocResearch/notebooks/setup_doc.ipynb
demo/examples/DocResearch/internDocuments/Case Study European Professional Mobility Card for Nurses Version 27 09 2011 - For publication.doc
demo/examples/DocResearch/internDocuments/Application of Article 10 for nurses in the UK and Spain.doc
demo/examples/DocResearch/internDocuments/answer.doc
demo/examples/DocResearch/internDocuments/110921(1)_Draft_reply_EN_V1_(morakam)_V1 (002)+GROW.E1.docx
demo/examples/DocResearch/internDocuments/100713 LTT PCQ nurses in the UK.doc
demo/examples/DocResearch/internDocuments/2022.07.19 draft pre-closure letter.docx
demo/examples/DocResearch/internDocuments/2019.12.11 Workshop on nurses- what to improve next time.docx
demo/examples/DocResearch/internDocuments/217-2008-Liste de base-May 08-DOCTORS-DENTISTS-NURSES-VETs-MIDWIVES-Comité Santé Publique.xls
demo/examples/DocResearch/internDocuments/152. Register of NURSING (General and Mental Health)   t      s  e t     (MH).doc
demo/examples/DocResearch/internDocuments/086 - EfCCNa - European federation of Critical Care Nursing associations.pdf
demo/examples/DocResearch/internDocuments/31-3-2011 - Danish Nurses - EN Translation.DOC
demo/examples/DocResearch/internDocuments/13.01.2020 - Minutes - Progress Call -.docx
demo/examples/DocResearch/internDocuments/013 - NU'91 Nieuwe Unie 91, the national nurses association of the Netherlands.doc
demo/examples/DocResearch/internDocuments/(CHAP 0056).msg
demo/notebooks/setup.ipynb
